/* 
    Document   : css
    Created on : Apr 29, 2013, 7:24:08 PM
    Author     : hakdogan
    Description:
        Purpose of the stylesheet follows.
*/
.-logo {
	padding: 5px 0 0 0;
}

body {
	/* 	font-family: 'Droid Sans Mono', ; */
	/* 	font-family: 'Cinzel', serif; */
	font-family: 'Open Sans', sans-serif;
	/* 	font-family: 'Tangerine', serif; */
	font-size: 11pt;
	margin: 2px;
}

.ui-widget {
	/* 	font-family: 'Droid Sans Mono', ; */
	/* 	font-family: 'Cinzel', serif; */
	font-family: 'Open Sans', sans-serif;
	/* 	font-family: 'Tangerine', serif; */
	font-size: 11pt;
	margin: 2px;
}

.btn {
	width: 100%;
}


.form {
	width: 450px;
	/*     height: 275px; */
}

.-footer {
	padding: 10px 0;
	font-size: 0.8em;
	text-align: center;
}

.-footer2 {
	border-top: dotted 1px silver;
	padding: 10px 0;
}

.dataTable {
	width: 950px;
}

.inputTextWidth {
	width: 210px;
}

.taskWidget {
	width: 430px;
	text-align: left;
}

.inputTextWidth input[type="text"] {
	width: 210px;
}

.inputTextAreaWidthHeight {
	width: 210px;
	height: 60px;
}

.loginDlg {
	/* 	margin-bottom:20px; */
	width:300px;
	height : 210px;
	/* 	margin: 0 auto; */
	border-radius: 5px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0; /* Aligns Vertically - Remove for Horizontal Only */
	left: 0;
	right: 0; /* Aligns Horizontally - Remove for Vertical Only  */
}
.ui-widget-overlay{
	height: 0px;
	width: 0px;
	position: relative;
	
}