<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="/template.xhtml">
    
    <ui:define name="content">
        <p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" /> <p:dialog
						widgetVar="statusDialog" modal="true" draggable="false"
						closable="false" resizable="false" showHeader="false"
						>
						<p:graphicImage name="images/loading.gif" width="64px"
							height="64px" />
					</p:dialog> 
        <h:form id="CompanyForm">
        	<p:fieldset legend="Companies" style="margin-bottom:20px;" toggleable="false" toggleSpeed="500">	
            <p:growl id="growl"  showDetail="false" />
            <h:panelGrid columns="1" cellpadding="2" cellspacing="2" >
            	<p:fieldset id="CompanyFormFieldset" legend="Company Form"  toggleable="true" toggleSpeed="500" collapsed="#{!companiesMB.selected}">	
                <p:panel>
                    <h:panelGrid id="registrationPanelGrid" columns="2" cellpadding="2" cellspacing="2">
                        <h:outputLabel value="Company Name"/>
                        <p:inputText value="#{companiesMB.company.companyName}" required="true" requiredMessage="Company Name Required" />
						<h:outputLabel value="Tel"/>
                        <p:inputText value="#{companiesMB.company.companyTel}"  required="true" requiredMessage="Tel Required"/>
                        <h:outputLabel value="Address"/>
                        <p:inputText value="#{companiesMB.company.companyAddress}"  required="true" requiredMessage="Address Required"/>
                        
                        <h:outputLabel value="Company Contact Person"/>
                        <p:inputText value="#{companiesMB.company.companyContactPerson}"  required="true" requiredMessage="Company Contact Person"/>

                    </h:panelGrid>
                </p:panel>
                 <h:panelGroup>
                    <p:commandButton id="newCompany" immediate="true" action="#{companiesMB.initCompany}" value="New" 
                                     update="registrationPanelGrid CompanyTable removeCompany" icon="ui-icon-document"/>
                    <p:commandButton id="saveCompany" action="#{companiesMB.saveCompany}" value="Save" 
                                     update="registrationPanelGrid CompanyTable growl" icon="ui-icon-disk">
                        <f:param name="saveCompany" value="true"/>
                    </p:commandButton>
                    <p:commandButton id="removeCompany" immediate="true" disabled="#{null == companiesMB.selectedCompany}" action="#{companiesMB.removeCompany}" 
                                     value="Remove" update="registrationPanelGrid CompanyTable @this" icon="ui-icon-trash"/>
                </h:panelGroup>
                </p:fieldset>

                <p:panel header="Companies Directory" styleClass="dataTable">
                    <p:dataTable id="CompanyTable" var="Company" value="#{companiesMB.companiesList}" selectionMode="single" 
                                 selection="#{companiesMB.selectedCompany}" paginator="true" paginatorPosition="bottom" rows="5"
                                 rowKey="#{Company.companyId}">
                        
                        <p:ajax event="rowSelect" listener="#{companiesMB.selectCompany}" 
                                update=":CompanyForm:registrationPanelGrid :CompanyForm:removeCompany :CompanyForm:CompanyFormFieldset"/>
                        
                        <p:column width="100">
                            <f:facet name="header">
                                <h:outputLabel value="Company Name"/>
                            </f:facet>
                            <h:outputLabel value="#{Company.companyName}"/>
                        </p:column>

                        <p:column width="75">
                            <f:facet name="header">
                                <h:outputLabel value="Tel"/>
                            </f:facet>
                            <h:outputLabel value="#{Company.companyTel}"/>
                        </p:column>
                        
                        <p:column width="120">
                            <f:facet name="header">
                                <h:outputLabel value="Address"/>
                            </f:facet>
                            <h:outputLabel value="#{Company.companyAddress}"/>
                        </p:column>
                        
                        <p:column width="150">
                            <f:facet name="header">
                                <h:outputLabel value="Company Contact Person"/>
                            </f:facet>
                            <h:outputLabel value="#{Company.companyContactPerson}">
                            </h:outputLabel>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                
            </h:panelGrid>
            </p:fieldset>
        </h:form>
    </ui:define>
</ui:composition>