<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">

	<ui:define name="content">
		<style>
.thumb {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
</style>
		<h:form id="vehicleForm">
			<p:ajaxStatus onstart="PF('statusDialog').show()"
				onsuccess="PF('statusDialog').hide()" />
			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<p:graphicImage name="images/loading.gif" width="64px" height="64px" />
			</p:dialog>
			<p:growl id="growl" showDetail="false" />
			<h:panelGrid id="container" columns="1" cellpadding="2"
				cellspacing="2">
				<p:fieldset id="vehicleFormFieldset" legend="Scan The Bar Code"
					toggleable="false" toggleSpeed="500">
					<h:panelGrid columns="3" cellpadding="2" cellspacing="2">
					<h:panelGrid columns="3" cellpadding="2" cellspacing="2">
						<h:outputLabel value="Bar Code" />
						<p:password value="#{barcodeReaderMB.barcode}" id="barcode" redisplay="true"/>
					</h:panelGrid>
					<h:panelGroup style="text-align: center;">
						
						<p:commandButton id="find" process="@this barcode"
							action="#{barcodeReaderMB.serach}" value="Find"
							update="container growl" icon="ui-icon-document"
							 />
						<p:commandButton id="checkIn" process="@all"
							action="#{barcodeReaderMB.checkInIntoParking}" value="Check In"
							update="vehiclePanelGrid vehicleFormFieldset @this checkout checkedInCars checkedInPpl" icon="ui-icon-document"
							disabled="#{barcodeReaderMB.checkedIn || (barcodeReaderMB.barcode == null) || (barcodeReaderMB.foundPerson == null and barcodeReaderMB.foundVehicle == null)}" oncomplete="$(function(){PrimeFaces.focus('vehicleForm:barcode');});"/>
						<p:commandButton id="checkout" action="#{barcodeReaderMB.checkOut}" process="@all"
							disabled="#{!barcodeReaderMB.checkedIn || (barcodeReaderMB.barcode == null) || (barcodeReaderMB.foundPerson == null and barcodeReaderMB.foundVehicle == null)}"
							value="Check Out"
							update="vehiclePanelGrid growl vehicleFormFieldset @this checkIn checkedInCars checkedInPpl"
							icon="ui-icon-trash" oncomplete="$(function(){PrimeFaces.focus('vehicleForm:barcode');});">
						</p:commandButton>
						<p:commandButton 
							value="Print Daily Report"
							action="#{barcodeReaderMB.printDailyReport}" 
							ajax="false"
							onclick="this.form.target='_blank'" 
							/>
						<p:poll interval="20" update="checkedInCars" />
					</h:panelGroup>
					<h:panelGrid columns="2" cellpadding="2"
						rendered="#{barcodeReaderMB.foundVehicle != null}"
						styleClass="ui-fieldset-legend ui-corner-all ui-state-default"
						width="300px">
						<p:panel>
							<p:graphicImage height="150" width="150px" cache="false"
								value="#{barcodeReaderMB.foundVehicle.image}" styleClass="thumb" />
						</p:panel>
						<h:panelGrid id="vehiclePanelGrid" columns="2" cellpadding="2"
							cellspacing="2">
							<h:outputLabel value="Vehicle Type" />
							<h:outputLabel
								value="#{barcodeReaderMB.foundVehicle.vehicleType}" />

							<h:outputLabel value="Vehicle Model" />
							<h:outputLabel
								value="#{barcodeReaderMB.foundVehicle.vehicleModel}" />

							<h:outputLabel value="Vehicle Plate Number" />
							<h:outputLabel
								value="#{barcodeReaderMB.foundVehicle.vehiclePlateNumber}" />

							<h:outputLabel value="Include Generator ? " />
							<h:outputLabel
								value="#{barcodeReaderMB.foundVehicle.includeGenerator}" />

							<h:outputLabel value="Company" />
							<h:outputLabel
								value="#{barcodeReaderMB.foundVehicle.companyId.companyName}" />


							<h:outputLabel value="Notes" />
							<p:inputText value="#{barcodeReaderMB.notes}" />


							<h:outputLabel value="Include Generator ?" />
							<h:outputLabel
								value="#{barcodeReaderMB.foundVehicle.includeGenerator?'True':'False'}" />

						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid columns="2" cellpadding="2"
						rendered="#{barcodeReaderMB.foundPerson != null}"
						styleClass="ui-fieldset-legend ui-corner-all ui-state-default"
						width="300px">
						<p:panel>
							<p:graphicImage height="150" width="100px" cache="false"
								value="#{barcodeReaderMB.foundPerson.image}" styleClass="thumb" />
						</p:panel>
						<h:panelGrid id="personPanelGrid" columns="2" cellpadding="2"
							cellspacing="2">
							<h:outputLabel value="Person Name" />
							<h:outputLabel value="#{barcodeReaderMB.foundPerson.personName}" />

							<h:outputLabel value="Person Tel" />
							<h:outputLabel value="#{barcodeReaderMB.foundPerson.personTel}" />

							<h:outputLabel value="Person Address" />
							<h:outputLabel
								value="#{barcodeReaderMB.foundPerson.personAddress}" />

							<h:outputLabel value="Person Photo ID" />
							<h:outputLabel value="#{barcodeReaderMB.foundPerson.personPhotoId}" />

							<h:outputLabel value="Company" />
							<h:outputLabel
								value="#{barcodeReaderMB.foundPerson.companyId.companyName}" />


							<h:outputLabel value="Notes" />
							<p:inputTextarea value="#{barcodeReaderMB.notes}" />


						</h:panelGrid>
					</h:panelGrid>
					
					</h:panelGrid>
				</p:fieldset>
				<h:panelGrid columns="1" cellpadding="2"
					styleClass="ui-fieldset-legend ui-corner-all ui-state-default"
					width="100%">
					<p:dataTable id="checkedInCars" var="car" styleClass="dataTable"
						value="#{barcodeReaderMB.checkedInCars}" paginator="true"
						paginatorPosition="bottom" rows="5">
						<p:column headerText="Company Name">
							<h:outputText value="#{car.vehicleId.companyId.companyName}" />
						</p:column>

						<p:column headerText="Vehicle Plate Number">
							<h:outputText value="#{car.vehicleId.vehiclePlateNumber}" />
						</p:column>

						<p:column headerText="Permement Id">
							<h:outputText value="#{car.vehicleId.vehiclePermementId}" />
						</p:column>

						<p:column headerText="Checkin Time">
							<h:outputText value="#{car.checkInDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>

						<p:column headerText="Notes">
							<h:outputText value="#{car.notes}" />
						</p:column>

					</p:dataTable>
					<p:dataTable id="checkedInPpl" var="checkedInPerson" styleClass="dataTable"
						value="#{barcodeReaderMB.checkedInPeople}" paginator="true"
						paginatorPosition="bottom" rows="5">
						<p:column headerText="Company Name">
							<h:outputText value="#{checkedInPerson.personId.companyId.companyName}" />
						</p:column>
						<p:column headerText="Person Name">
							<h:outputText value="#{checkedInPerson.personId.personName}" />
						</p:column>

						<p:column headerText="Person Tel">
							<h:outputText value="#{checkedInPerson.personId.personTel}" />
						</p:column>

						<p:column headerText="Person Address">
							<h:outputText value="#{checkedInPerson.personId.personAddress}" />
						</p:column>

						<p:column headerText="Checkin Time">
							<h:outputText value="#{checkedInPerson.checkInDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>

						<p:column headerText="Notes">
							<h:outputText value="#{checkedInPerson.notes}" />
						</p:column>
					</p:dataTable>

				</h:panelGrid>
			</h:panelGrid>
			<script>
				$(function(){PrimeFaces.focus('vehicleForm:barcode');});
			</script>
		</h:form>

	</ui:define>
</ui:composition>