<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">

	<ui:define name="content">

		<h:form>
			<p:growl id="growl" sticky="true" showDetail="false" life="100" />
			<p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" /> <p:dialog
						widgetVar="statusDialog" modal="true" draggable="false"
						closable="false" resizable="false" showHeader="false"
						>
						<p:graphicImage name="images/loading.gif" width="64px"
							height="64px" />
					</p:dialog> 
			<p:fieldset legend="User Login">
				<h:panelGrid columns="2" cellpadding="5" id="dlg">
					<h:outputLabel for="email" value="Username" />
					<p:inputText id="email" value="#{loginMB.username}" required="true" label="Email" requiredMessage="Username Required" >
					</p:inputText>

					<h:outputLabel for="password" value="Password" />
					<p:password id="password" value="#{loginMB.password}" required="true" label="password" requiredMessage="Password Required"/>

					<f:facet name="footer">
						<p:commandButton value="Log in" ajax="false" action="#{loginMB.login}" update="@all" process="@all" styleClass="btn" icon="ui-icon-locked"/>
					</f:facet>
				</h:panelGrid>
			</p:fieldset>
		</h:form>

	</ui:define>
</ui:composition>