<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">

	<ui:define name="content">

		<h:form id="personForm">
			<p:ajaxStatus onstart="PF('statusDialog').show()"
				onsuccess="PF('statusDialog').hide()" />
			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<p:graphicImage name="images/loading.gif" width="64px" height="64px" />
			</p:dialog>
			<p:fieldset legend="Persons" style="margin-bottom:20px;"
				toggleable="false" toggleSpeed="500">
				<p:growl id="growl" showDetail="false" />
				<h:panelGrid columns="1" cellpadding="2" cellspacing="2">
					<p:fieldset id="personFormFieldset" legend="Person Form"
						style="margin-bottom:20px" toggleable="true" toggleSpeed="500"
						collapsed="#{!personsMB.selected}">
						<p:panel>
							<h:panelGrid id="personPanelGrid" columns="2" cellpadding="2"
								cellspacing="2">
								<h:panelGrid columns="2" cellpadding="2" cellspacing="2">
									<p:outputLabel for="company" value="Company " />
									<p:selectOneMenu id="company"
										value="#{personsMB.person.companyId}" style="width:150px">
										<f:selectItem itemLabel="Select Company" itemValue=""
											noSelectionOption="true" />
										<f:selectItems value="#{companiesMB.companiesList}" />
									</p:selectOneMenu>

									<h:outputLabel value="Person Name" />
									<p:inputText value="#{personsMB.person.personName}"
										id="carType" required="true"
										requiredMessage="Person Name Required" />

									<h:outputLabel value="Person Tel" />
									<p:inputText value="#{personsMB.person.personTel}"
										required="true" requiredMessage="Person Tel Required" />

									<h:outputLabel value="Person Address" />
									<p:inputText value="#{personsMB.person.personAddress}"
										required="true" requiredMessage="Person Address Required" />


									<h:outputLabel value="Person Photo ID" />
									<p:inputText value="#{personsMB.person.personPhotoId}"
										required="true" requiredMessage="Person Photo ID Required" />

								</h:panelGrid>
								<h:panelGrid id="picture" columns="1" cellpadding="2"
									cellspacing="2">
									<h:form enctype="multipart/form-data" id="pictureForm">
										<p:fileUpload mode="advanced"
											fileUploadListener="#{personsMB.upload}" multiple="false" />
									</h:form>
										<p:commandButton 
												value="Print"
												action="#{personsMB.printJasper}" 
												ajax="false"
												onclick="this.form.target='_blank'" 
												rendered="#{ personsMB.selectedPerson.personId != null}"/>
								</h:panelGrid>

							</h:panelGrid>
						</p:panel>
						<h:panelGroup>
							<p:commandButton id="newperson" process="@this"
								action="#{personsMB.initPerson}" value="New"
								update="personPanelGrid dataTable removeperson picture"
								icon="ui-icon-document" />
							<p:commandButton id="saveperson" action="#{personsMB.savePerson}"
								value="Save"
								update="personPanelGrid dataTable growl personFormFieldset picture"
								icon="ui-icon-disk">
								<f:param name="savePerson" value="true" />
							</p:commandButton>
							<p:commandButton id="removeperson"
								disabled="#{null == personsMB.selectedPerson}"
								action="#{personsMB.removePerson()}" immediate="true"
								value="Remove"
								update="growl personPanelGrid dataTable @this picture"
								icon="ui-icon-trash" />
						</h:panelGroup>
					</p:fieldset>
					<p:panel header="Persons" styleClass="dataTable">
						<p:dataTable id="dataTable" var="person"
							value="#{personsMB.personsList}" selectionMode="single"
							selection="#{personsMB.selectedPerson}" paginator="true"
							paginatorPosition="bottom" rows="5" rowKey="#{person.personId}">

							<p:ajax event="rowSelect" listener="#{personsMB.selectPerson}"
								update=":personForm:personPanelGrid :personForm:removeperson :personForm:personFormFieldset" />
							<p:column filterBy="#{person.personId}">
								<f:facet name="header">
									<h:outputLabel value="Person ID" />
								</f:facet>
								<h:outputLabel value="#{person.personId}" />
							</p:column>
							<p:column filterBy="#{person.personName}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputLabel value="Person Name" />
								</f:facet>
								<h:outputLabel value="#{person.personName}" />
							</p:column>
							<p:column filterBy="#{person.personTel}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputLabel value="Person Tel" />
								</f:facet>
								<h:outputLabel value="#{person.personTel}" />
							</p:column>
							<p:column filterBy="#{person.personAddress}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputLabel value="Person Address" />
								</f:facet>
								<h:outputLabel value="#{person.personAddress}" />
							</p:column>
							<p:column filterBy="#{person.personPhotoId}" filterMatchMode="contains">
								<f:facet name="header">
									<h:outputLabel value="Person Photo ID" />
								</f:facet>
								<h:outputLabel value="#{person.personPhotoId}" />
							</p:column>

						</p:dataTable>
					</p:panel>


				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>