<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="/template.xhtml">
    
    <ui:define name="content">
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" /> 
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" >
			<p:graphicImage name="images/loading.gif" width="64px" height="64px" />
		</p:dialog> 
        <h:form id="reportForm">
        <p:fieldset legend="Reports" style="margin-bottom:20px;" toggleable="false" toggleSpeed="500">
       	 	<h:panelGroup>
                   <p:commandButton immediate="true" action="#{reportsMB.setReportType('company')}" value="Company Report" process="@all"   update="@all" icon="ui-icon-document"/>
                   <p:commandButton immediate="true" action="#{reportsMB.setReportType('person')}" value="Person Report"  process="@all" update="@all" icon="ui-icon-document"/>
                   <p:commandButton immediate="true" action="#{reportsMB.setReportType('car')}" value="Car Report" process="@all"   update="@all" icon="ui-icon-document"/>
            </h:panelGroup>
        </p:fieldset>
<!--         	company reports start  -->
        	<p:fieldset legend="Company Reports" style="margin-bottom:20px;" toggleable="false" toggleSpeed="500" rendered="#{reportsMB.reportType == 'company' }">	
            <p:growl id="growl"  showDetail="false" />
            <h:panelGrid columns="1" cellpadding="2" cellspacing="2" >
            	<p:fieldset  legend="Filters"  toggleable="false" toggleSpeed="500" collapsed="false">	
                <p:panel>
                    <h:panelGrid  columns="2" cellpadding="2" cellspacing="2">
                        <p:outputLabel value="Company"/>
						<p:selectOneMenu id="company" value="#{reportsMB.companyId}" style="width:150px">
			                <f:selectItem itemLabel="Select Company" itemValue="" noSelectionOption="true" />
			                <f:selectItems value="#{companiesMB.companiesList}" />
			            </p:selectOneMenu>
			            <p:outputLabel value="From"/>
			            <p:calendar id="from" value="#{reportsMB.fromDate}" showButtonPanel="true"/>  
			            <p:outputLabel value="To"/>
			            <p:calendar id="to" value="#{reportsMB.toDate}" showButtonPanel="true"/>  
                    </h:panelGrid>
                </p:panel>
                 <h:panelGrid  columns="5" cellpadding="2" >
                    <p:commandButton id="find" action="#{reportsMB.find}" value="Find" process="@this company from to"   update="@all" icon="ui-icon-document"/>
                    <p:commandButton value="Print"
							action="#{reportsMB.print}" 
							ajax="false"
							onclick="this.form.target='_blank'" 
							/>
		         </h:panelGrid>
                </p:fieldset>

				<h:panelGrid id="tablePnl" columns="1" cellpadding="2"
					styleClass="ui-fieldset-legend ui-corner-all ui-state-default"
					width="100%">
					<p:dataTable id="companyCars" var="car" styleClass="dataTable" value="#{reportsMB.companyCars}" paginator="true" paginatorPosition="bottom" rows="5">
						<p:column headerText="Company Name">
							<h:outputText value="#{car.vehicleId.companyId.companyName}" />
						</p:column>

						<p:column headerText="Plate Number">
							<h:outputText value="#{car.vehicleId.vehiclePlateNumber}" />
						</p:column>
						
						<p:column headerText="Permement Id">
							<h:outputText value="#{car.vehicleId.vehiclePermementId}" />
						</p:column>

						<p:column headerText="Checkin Time">
							<h:outputText value="#{car.checkinDetails.checkInDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>
						<p:column headerText="Check Out Time">
							<h:outputText value="#{car.checkOutDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>

						<p:column headerText="Notes">
							<h:outputText value="#{car.notes}" />
						</p:column>

					</p:dataTable>
					<p:dataTable id="companyPPl" var="checkedInPerson" styleClass="dataTable" value="#{reportsMB.companyPpl}" paginator="true" paginatorPosition="bottom" rows="5">
						<p:column headerText="Company Name">
							<h:outputText value="#{checkedInPerson.personId.companyId.companyName}" />
						</p:column>
						<p:column headerText="Person Name">
							<h:outputText value="#{checkedInPerson.personId.personName}" />
						</p:column>

						<p:column headerText="Person Tel">
							<h:outputText value="#{checkedInPerson.personId.personTel}" />
						</p:column>

						<p:column headerText="Person Address">
							<h:outputText value="#{checkedInPerson.personId.personAddress}" />
						</p:column>

						<p:column headerText="Checkin Time">
							<h:outputText value="#{checkedInPerson.checkinDetails.checkInDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>
						<p:column headerText="Check Out Time">
							<h:outputText value="#{checkedInPerson.checkOutDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>
						<p:column headerText="Notes">
							<h:outputText value="#{checkedInPerson.notes}" />
						</p:column>
					</p:dataTable>

				</h:panelGrid>                
            </h:panelGrid>
            </p:fieldset>
<!--            end of company reports  -->
<!-- 			start of car reports  -->
			<p:fieldset legend="Car Reports" style="margin-bottom:20px;" toggleable="false" toggleSpeed="500" rendered="#{reportsMB.reportType == 'car' }">	
			<p:growl id="carGrowl"  showDetail="false" />
            <h:panelGrid columns="1" cellpadding="2" cellspacing="2" >
            	<p:fieldset  legend="Filters"  toggleable="false" toggleSpeed="500" collapsed="false">	
                <p:panel>
                    <h:panelGrid  columns="2" cellpadding="2" cellspacing="2">
                        <p:outputLabel value="Plate Number"/>
                        <p:autoComplete id="plateNumber" dropdown="true" value="#{reportsMB.plateNumber}" completeMethod="#{reportsMB.platenumberAutoComplete}"  var="plateNumber"
        				itemLabel="#{plateNumber}" itemValue="#{plateNumber}"/>
                        <p:outputLabel value="Permanent Number"/>
                        <p:autoComplete id="permanentNumber" dropdown="true" value="#{reportsMB.permanentNumber}" completeMethod="#{reportsMB.vehiclePermementAutoComplete}"  var="permanentNumber"
        				itemLabel="#{permanentNumber}" itemValue="#{permanentNumber}"/>
			            <p:outputLabel value="From"/>
			            <p:calendar id="carfrom" value="#{reportsMB.fromDate}" showButtonPanel="true"/>  
			            <p:outputLabel value="To"/>
			            <p:calendar id="carto" value="#{reportsMB.toDate}" showButtonPanel="true"/>  
                    </h:panelGrid>
                </p:panel>
                 <h:panelGrid  columns="5" cellpadding="2" >
                    <p:commandButton id="carfind" action="#{reportsMB.find}" value="Find" process="@this plateNumber permanentNumber carfrom carto cartablePnl"   update="@all carGrowl cartablePnl" icon="ui-icon-document"/>
                     <p:commandButton value="Print"
							action="#{reportsMB.print}" 
							ajax="false"
							onclick="this.form.target='_blank'" 
							/>
		         </h:panelGrid>
                </p:fieldset>

				<h:panelGrid id="cartablePnl" columns="1" cellpadding="2"
					styleClass="ui-fieldset-legend ui-corner-all ui-state-default"
					width="100%">
					<p:dataTable id="carDetails" var="car" styleClass="dataTable" value="#{reportsMB.companyCars}" paginator="true" paginatorPosition="bottom" rows="5">
						<p:column headerText="Company Name">
							<h:outputText value="#{car.vehicleId.companyId.companyName}" />
						</p:column>

						<p:column headerText="Vehicle Plate Number">
							<h:outputText value="#{car.vehicleId.vehiclePlateNumber}" />
						</p:column>

						<p:column headerText="Permement Id">
							<h:outputText value="#{car.vehicleId.vehiclePermementId}" />
						</p:column>

						<p:column headerText="Checkin Time">
							<h:outputText value="#{car.checkinDetails.checkInDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>
						<p:column headerText="Check Out Time">
							<h:outputText value="#{car.checkOutDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>

						<p:column headerText="Notes">
							<h:outputText value="#{car.notes}" />
						</p:column>

					</p:dataTable>
				</h:panelGrid>                
            </h:panelGrid>
            </p:fieldset>
<!-- 			end of car reports  -->
<!-- 			start of person reports  -->
		<p:fieldset legend="Person Reports" style="margin-bottom:20px;" toggleable="false" toggleSpeed="500" rendered="#{reportsMB.reportType == 'person' }">	
			<p:growl id="personGrowl"  showDetail="false" />
            <h:panelGrid columns="1" cellpadding="2" cellspacing="2" >
            	<p:fieldset  legend="Filters"  toggleable="false" toggleSpeed="500" collapsed="false">	
                <p:panel>
                    <h:panelGrid  columns="2" cellpadding="2" cellspacing="2">
                        <p:outputLabel value="Name"/>
        				<p:autoComplete id="personName" dropdown="true" value="#{reportsMB.personName}" completeMethod="#{reportsMB.personNameAutoComplete}"  var="personName"
        				itemLabel="#{personName}" itemValue="#{personName}"/>
			            <p:outputLabel value="From"/>
			            <p:calendar id="personfrom" value="#{reportsMB.fromDate}" showButtonPanel="true"/>  
			            <p:outputLabel value="To"/>
			            <p:calendar id="personto" value="#{reportsMB.toDate}" showButtonPanel="true"/>  
                    </h:panelGrid>
                </p:panel>
                 <h:panelGrid  columns="5" cellpadding="2" >
                    <p:commandButton id="personfind" action="#{reportsMB.find}" value="Find" process="@this personName personfrom personto"   update="@all personGrowl persontable" icon="ui-icon-document"/>
                     <p:commandButton value="Print"
							action="#{reportsMB.print}" 
							ajax="false"
							onclick="this.form.target='_blank'" 
							/>
		         </h:panelGrid>
                </p:fieldset>

				<h:panelGrid id="persontablePnl" columns="1" cellpadding="2"
					styleClass="ui-fieldset-legend ui-corner-all ui-state-default"
					width="100%">
					<p:dataTable id="persontable" var="checkedInPerson" styleClass="dataTable" value="#{reportsMB.companyPpl}" paginator="true" paginatorPosition="bottom" rows="5">
						<p:column headerText="Person Name">
							<h:outputText value="#{checkedInPerson.personId.personName}" />
						</p:column>

						<p:column headerText="Person Tel">
							<h:outputText value="#{checkedInPerson.personId.personTel}" />
						</p:column>

						<p:column headerText="Person Address">
							<h:outputText value="#{checkedInPerson.personId.personAddress}" />
						</p:column>

						<p:column headerText="Checkin Time">
							<h:outputText value="#{checkedInPerson.checkinDetails.checkInDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>
						<p:column headerText="Check Out Time">
							<h:outputText value="#{checkedInPerson.checkOutDate}">
								<f:convertDateTime pattern="MM/dd/yyyy hh:mm a" />
							</h:outputText>
						</p:column>

						<p:column headerText="Notes">
							<h:outputText value="#{checkedInPerson.notes}" />
						</p:column>
					</p:dataTable>
				</h:panelGrid>                
            </h:panelGrid>
            </p:fieldset>
<!-- 			end of person reports  -->

        </h:form>
    </ui:define>
</ui:composition>