<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">

<f:view contentType="text/html">
	<h:head>
		<f:facet name="first">
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<title>Hot Dog Car Parking</title>
			<link href='http://fonts.googleapis.com/css?family=Open+Sans'
				rel='stylesheet' type='text/css' />
			<h:outputStylesheet library="css" name="css.css" />
			<h:outputScript library="javax.faces" name="jsf.js" target="head" />
		</f:facet>

	</h:head>
	<script type='text/javascript'>
	
		setTimeout("location.reload();",1500000);
	
	</script>
	
		
	<h:body>
		<p:idleMonitor timeout="300000"
			onidle="startIdleMonitor()"
         	onactive="timeoutDialog.hide()" />
		<style>
body {
	background: url('resources/images/background.jpg') no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}

.background {
	background-color: #dbf7ff;
	-webkit-box-shadow: 10px 9px 13px 0px rgba(105, 105, 105, 1);
	-moz-box-shadow: 10px 9px 13px 0px rgba(105, 105, 105, 1);
	box-shadow: 10px 9px 13px 0px rgba(105, 105, 105, 1);
}

h1 {
	/* 	margin: 1em 0 0.5em 0; */
	/* 	font-weight: 600; */
	/* 	font-family: 'Titillium Web', sans-serif; */
	/* 	position: relative; */
	/* 	font-size: 21px; */
	/* 	color:white; */
	/* 	line-height: 40px; */
	/* 	padding: 15px 15px 15px 15%; */
	/* 	box-shadow: inset 0 0 0 1px rgba(53, 86, 129, 0.4), inset 0 0 5px */
	/* 		rgba(53, 86, 129, 0.5), inset -0px 0 35px white; */
	/* 	border-radius: 0 10px 0 10px; */
	/* 	font-family: "your ideal typeface", Verdana, sans-serif; */
	/*   font-size: 80px; */
	/*   line-height: 300px; */
	/*   text-shadow: -3px 0 4px #006; */
	
}

#box {
	position: relative;
	background : url('resources/images/box-bg.jpg') no-repeat center center fixed;
/*  	width: 1100px; */
	background: #DFF0FF;
	-moz-border-radius: 4px;
	border-radius: 10px;
 	padding: 0.5em 0.5em;
	color: rgba(0, 0, 0, .8);
	text-shadow: 0 1px 0 #fff;
	line-height: 1.5;
	margin: 15px auto;
}

#box:before,#box:after {
	z-index: -1;
	position: absolute;
	content: '';
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

#box:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
</style>
		<table border="0" style="margin-bottom: 20px; margin: auto; left: 0; right: 0; opacity: 1;">
			<tr>
				<td>
					<div id='box'>
						<h1 style="text-align: center;">Hotdog Car's Parking</h1>
					</div>
				</td>
			</tr>
			
			<tr>
				<td id='box'>
					<h:form>
						<p:tabMenu
							rendered="#{!fn:endsWith(request.requestURI,'index.xhtml') and !fn:endsWith(request.requestURI,'/hdcp/') }" activeIndex="#{param.i}">
							    <c:if test="#{loggedInUser.isAdmin || loggedInUser.isSecurity}">
								    <p:menuitem value="Barcode" outcome="/home.xhtml" icon="ui-icon-search">
								        <f:param name="i" value="0" />
								    </p:menuitem>
							    </c:if>
							    <c:if test="#{loggedInUser.isAdmin}">
								    <p:menuitem value="Users" outcome="/users.xhtml" icon="ui-icon-person">
								        <f:param name="i" value="1" />
								    </p:menuitem>
								    <p:menuitem value="Vehicles" outcome="/vehicles.xhtml" icon="ui-icon-wrench">
								        <f:param name="i" value="2" />
								    </p:menuitem>
								    <p:menuitem value="Companies" outcome="/companies.xhtml" icon="ui-icon-suitcase">
								        <f:param name="i" value="3" />
								    </p:menuitem>
								    <p:menuitem value="Persons" outcome="/persons.xhtml" icon="ui-icon-person">
								        <f:param name="i" value="4" />
								    </p:menuitem>
								    <p:menuitem value="Reports" outcome="/reports.xhtml" icon="ui-icon-mail-open">
								        <f:param name="i" value="5" />
								    </p:menuitem>
								    
							    </c:if>
							    <p:menuitem value="Logout" action="#{loginMB.logout()}" icon="ui-icon-power">
							        <f:param name="i" value="6" />
							    </p:menuitem>
						</p:tabMenu>
					</h:form>
					<ui:insert name="content"></ui:insert>
				</td>
				<h:form prependId="false">
 
      <p:dialog id="timeoutSession"
         header="#{msg['session.expire']}"
         widgetVar="timeoutDialog"
         showEffect="fade" hideEffect="fade"
         modal="true"
         width="400"
         height="110"
         closable="false"
         draggable="false"
         resizable="false"
         appendToBody="true"
         onHide="stopCount()"
         onShow="doTimer()">
         <br />
         <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 8px 8px 0;"/>
            <p:panel>
               #{msg['logoff.soon.1']}
               <span id="dialog-countdown" style="font-weight: bold"></span>
               #{msg['logoff.soon.2']}
            </p:panel>
         </p>
         <br />
         <p style="font-weight: bold;">#{msg['move.cursor']}</p>
      </p:dialog>
      <p:remoteCommand name="keepAlive" actionListener="#{auth.keepSessionAlive}" />
   </h:form>
   <script type="text/javascript">
      var TIME = 120; // in seconds
      var countTimer = TIME;
      var processTimer;
      var timer_is_on = 0;
      var redirectPage = "#{request.contextPath}/index.xhtml";
 
      var countDownDiv = "dialog-countdown";
      var txtCountDown = null;
      if (!txtCountDown)
        txtCountDown = document.getElementById(countDownDiv);
 
      function startIdleMonitor() {
        countTimer = TIME;
        txtCountDown.innerHTML = countTimer;
        timeoutDialog.show();
      }
      function timedCount() {
        txtCountDown.innerHTML = countTimer;
        if (countTimer == 0) {
            stopCount();
            window.location.href = redirectPage;
            return;
        }
        countTimer = countTimer - 1;
        processTimer = setTimeout("timedCount()", 1000);
      }
      function doTimer() {
        if (!timer_is_on) {
            timer_is_on = 1;
            timedCount();
        }
      }
      function stopCount() {
        clearTimeout(processTimer);
        timer_is_on = 0;
        keepAlive();
      }
      </script>
			</tr>
			
		</table>
	</h:body>

</f:view>
</html>

