<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="/template.xhtml">
    
    <ui:define name="content">
        <p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" /> <p:dialog
						widgetVar="statusDialog" modal="true" draggable="false"
						closable="false" resizable="false" showHeader="false"
						>
						<p:graphicImage name="images/loading.gif" width="64px"
							height="64px" />
					</p:dialog> 
        <h:form id="userForm">
        	<p:fieldset legend="Users" style="margin-bottom:20px;" toggleable="false" toggleSpeed="500">	
            <p:growl id="growl"  showDetail="false" />
            <h:panelGrid columns="1" cellpadding="2" cellspacing="2" >
            	<p:fieldset id="userFormFieldset" legend="User Form"  toggleable="true" toggleSpeed="500" collapsed="#{!usersMB.selected}">	
                <p:panel>
                    <h:panelGrid id="registrationPanelGrid" columns="2" cellpadding="2" cellspacing="2">
                        <h:outputLabel value="Email"/>
                        <p:inputText value="#{usersMB.user.email}" styleClass="inputTextWidth" required="true" requiredMessage="Email Required" />
						<h:outputLabel value="First Name"/>
                        <p:inputText value="#{usersMB.user.firstName}" styleClass="inputTextWidth" required="true" requiredMessage="First Name Required"/>
                        <h:outputLabel value="Last Name"/>
                        <p:inputText value="#{usersMB.user.lastName}" styleClass="inputTextWidth" required="true" requiredMessage="Last Name Required"/>
                        <h:outputLabel value="Password"/>
                        <p:password value="#{usersMB.user.password}" styleClass="inputTextWidth" required="true" requiredMessage="Password Required"  validatorMessage="password must be at least 6 characters long and include letters and numbers">
                        	<f:validateRegex pattern="((?=.*[a-z]).{6,})" />
                        </p:password>
                        <h:outputLabel value="Confirm Password"/>
                        <p:password value="#{usersMB.confirmPassword}" styleClass="inputTextWidth" required="true" requiredMessage="Confirm Password Required" validatorMessage="password must be at least 6 characters long and include letters and numbers">
                        	<f:validateRegex pattern="((?=.*[a-z]).{6,})" />
                        </p:password>
                        <h:outputLabel value="Gender"/>
                        <p:selectOneRadio value="#{usersMB.user.gender}" required="true" requiredMessage="Gender Required">
				   			<f:selectItem itemValue="0" itemLabel="Male" />
				   			<f:selectItem itemValue="1" itemLabel="Female" />
				   		</p:selectOneRadio>
				   		 <h:outputLabel value="Rules"/>
				   		 <h:panelGrid columns="8" cellpadding="2" cellspacing="2">
	                        <h:outputLabel value="Is Active"/>
	                         <p:selectBooleanCheckbox value="#{usersMB.user.active}" />
	                          <h:outputLabel value="Is Admin"/>
	                         <p:selectBooleanCheckbox value="#{usersMB.user.isAdmin}" />
	                          <h:outputLabel value="Is Driver"/>
	                         <p:selectBooleanCheckbox value="#{usersMB.user.isDriver}" />
	                          <h:outputLabel value="Is Security"/>
	                         <p:selectBooleanCheckbox value="#{usersMB.user.isSecurity}" />
				   		 </h:panelGrid>

                    </h:panelGrid>
                </p:panel>
                 <h:panelGroup>
                    <p:commandButton id="newuser" immediate="true" action="#{usersMB.initUser}" value="New" 
                                     update="registrationPanelGrid userTable removeuser" icon="ui-icon-document"/>
                    <p:commandButton id="saveuser" action="#{usersMB.saveUser}" value="Save" 
                                     update="registrationPanelGrid userTable growl" icon="ui-icon-disk">
                        <f:param name="saveuser" value="true"/>
                    </p:commandButton>
                    <p:commandButton id="removeuser" immediate="true" disabled="#{null == usersMB.selectUser}" action="#{usersMB.removeUser}" 
                                     value="Remove" update="registrationPanelGrid userTable @this" icon="ui-icon-trash"/>
                </h:panelGroup>
                </p:fieldset>

                <p:panel header="Users Directory" styleClass="dataTable">
                    <p:dataTable id="userTable" var="user" value="#{usersMB.usersList}" selectionMode="single" 
                                 selection="#{usersMB.selectUser}" paginator="true" paginatorPosition="bottom" rows="5"
                                 rowKey="#{user.userId}">
                        
                        <p:ajax event="rowSelect" listener="#{usersMB.userSelect}" 
                                update=":userForm:registrationPanelGrid :userForm:removeuser :userForm:userFormFieldset"/>
                        
                        <p:column width="200">
                            <f:facet name="header">
                                <h:outputLabel value="Email"/>
                            </f:facet>
                            <h:outputLabel value="#{user.email}"/>
                        </p:column>

                        <p:column width="100">
                            <f:facet name="header">
                                <h:outputLabel value="First Name"/>
                            </f:facet>
                            <h:outputLabel value="#{user.firstName}"/>
                        </p:column>
                        
                        <p:column width="100">
                            <f:facet name="header">
                                <h:outputLabel value="Last Name"/>
                            </f:facet>
                            <h:outputLabel value="#{user.lastName}"/>
                        </p:column>
                        
                        <p:column width="50">
                            <f:facet name="header">
                                <h:outputLabel value="Gender"/>
                            </f:facet>
                            <h:outputLabel value="#{user.gender == 1 ? 'Female':'Male'}">
                            </h:outputLabel>
                        </p:column>
						<p:column width="20">
                            <f:facet name="header">
                                <h:outputLabel value="Active"/>
                            </f:facet>
                            <h:outputLabel value="#{user.active?'Yes':'NO'}"/>
                        </p:column>
                    </p:dataTable>
                </p:panel>
                
            </h:panelGrid>
            </p:fieldset>
        </h:form>
    </ui:define>
</ui:composition>