<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template.xhtml">

	<ui:define name="content">

		<h:form id="vehicleForm">
		<p:ajaxStatus onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()" /> <p:dialog
						widgetVar="statusDialog" modal="true" draggable="false"
						closable="false" resizable="false" showHeader="false"
						>
						<p:graphicImage name="images/loading.gif" width="64px"
							height="64px" />
					</p:dialog> 
		<p:fieldset legend="Vehicles" style="margin-bottom:20px;" toggleable="false" toggleSpeed="500">
			<p:growl id="growl" showDetail="false" />
			<h:panelGrid columns="1" cellpadding="2" cellspacing="2">
			<p:fieldset id="vehicleFormFieldset" legend="Vehicle Form" style="margin-bottom:20px" toggleable="true" toggleSpeed="500" collapsed="#{!vechiclesMB.selected}">
				<p:panel>
					<h:panelGrid id="vehiclePanelGrid" columns="2" cellpadding="2" cellspacing="2" >
						<h:panelGrid columns="2" cellpadding="2" cellspacing="2" >
						<p:outputLabel for="company" value="Company " />
			            <p:selectOneMenu id="company" value="#{vechiclesMB.vehicle.companyId}" style="width:150px">
			                <f:selectItem itemLabel="Select Company" itemValue="" noSelectionOption="true" />
			                <f:selectItems value="#{companiesMB.companiesList}" />
			            </p:selectOneMenu>
			            
						<h:outputLabel value="Vehicle Type" />
						<p:inputText value="#{vechiclesMB.vehicle.vehicleType}" id="carType" required="true" requiredMessage="Car Type Required"/>
						
						<h:outputLabel value="Vehicle Model" />
						<p:inputText value="#{vechiclesMB.vehicle.vehicleModel}" required="true" requiredMessage="Car Model Required"/>
						
						<h:outputLabel value="Vehicle Plate Number" />
						<p:inputText value="#{vechiclesMB.vehicle.vehiclePlateNumber}" required="true" requiredMessage="Car Plate Number Required"/>
						
						
						<h:outputLabel value="Vehicle Permement Id" />
						<p:inputText value="#{vechiclesMB.vehicle.vehiclePermementId}" required="true" requiredMessage="Permement Id Required"/>
						
						<h:outputLabel value="Include Generator ?"/>
                        <p:selectBooleanCheckbox value="#{vechiclesMB.vehicle.includeGenerator}" />
					</h:panelGrid>
					<h:panelGrid id="picture" columns="1" cellpadding="2" cellspacing="2" >		
						<h:form enctype="multipart/form-data">
						    <p:fileUpload mode="advanced" fileUploadListener="#{vechiclesMB.upload}" multiple="false"  />
						</h:form>
					    <p:commandButton value="Print"
							action="#{vechiclesMB.printJasper}" 
							ajax="false"
							onclick="this.form.target='_blank'" 
							rendered="#{ vechiclesMB.selectedVehicle.vehicleId != null}"/>
					</h:panelGrid>
						
					</h:panelGrid>
				</p:panel>
				<h:panelGroup>
					<p:commandButton id="newvehicle" process="@this" action="#{vechiclesMB.initVehicle}"  value="New" update="vehiclePanelGrid dataTable removevehicle picture" icon="ui-icon-document"/>
					<p:commandButton id="savevehicle" action="#{vechiclesMB.saveVehicle}" value="Save" update="vehiclePanelGrid dataTable growl vehicleFormFieldset picture" icon="ui-icon-disk">
						<f:param name="saveVehicle" value="true" />
					</p:commandButton>
					<p:commandButton id="removevehicle"
						disabled="#{null == vechiclesMB.selectedVehicle}"
						action="#{vechiclesMB.removeVehicle()}" immediate="true" value="Remove"
						update="growl vehiclePanelGrid dataTable @this picture" icon="ui-icon-trash"/>
				</h:panelGroup>
			</p:fieldset>
				<p:panel header="Vehicles" styleClass="dataTable">
					<p:dataTable id="dataTable" var="vehicle"
						value="#{vechiclesMB.vehiclesList}" selectionMode="single"
						selection="#{vechiclesMB.selectedVehicle}" paginator="true"
						paginatorPosition="bottom" rows="5" rowKey="#{vehicle.vehicleId}">

						<p:ajax event="rowSelect" listener="#{vechiclesMB.vehicleSelect}"
							update=":vehicleForm:vehiclePanelGrid :vehicleForm:removevehicle :vehicleForm:vehicleFormFieldset" />
						
						<p:column filterBy="#{vehicle.vehicleId}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputLabel value="Vehicle ID" />
							</f:facet>
							<h:outputLabel value="#{vehicle.vehicleId}" />
						</p:column>
						<p:column filterBy="#{vehicle.vehicleType}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputLabel value="Vehicle Type" />
							</f:facet>
							<h:outputLabel value="#{vehicle.vehicleType}" />
						</p:column>
						<p:column filterBy="#{vehicle.vehicleModel}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputLabel value="Vehicle Model" />
							</f:facet>
							<h:outputLabel value="#{vehicle.vehicleModel}" />
						</p:column>
						<p:column filterBy="#{vehicle.vehiclePlateNumber}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputLabel value="Vehicle Plate Number" />
							</f:facet>
							<h:outputLabel value="#{vehicle.vehiclePlateNumber}" />
						</p:column>
						<p:column filterBy="#{vehicle.vehiclePermementId}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputLabel value="Vehicle Permement Id" />
							</f:facet>
							<h:outputLabel value="#{vehicle.vehiclePermementId}" />
						</p:column>

					</p:dataTable>
				</p:panel>

				
			</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>